/*Custom color palette */

:root {
	--color_1: #77037B;
	--color_2: #210062;
	--color_3: #009FBD;
	--text_color: #e6e6e6;
}

/*Browser stylesheet reset*/

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/*General styling*/

body {
	font-family: Verdana, sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
	background: linear-gradient(70deg, var(--color_1) 20%, var(--color_2), var(--color_3) 90%);
	color: var(--text_color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text_color);
	font-family: 'Signika Negative', sans-serif;
}

h1, h2 {
	font-family: serif;
	font-family: 'Signika Negative', sans-serif;
}

h1 {
	font-size: 4rem;
}

h2 {
  font-size: 3.8rem;
}

img {
	display: block;
	width: 100%;
}

.button:hover, .social-media:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	transition: 0.5s;
}

.button {
	display: inline-block;
		background: 
	    radial-gradient(
	      circle at top left,
	      gray, 
	      transparent 60%
	    ),
	    radial-gradient(
	      circle at top right,
	      var(--color_3), 
	      transparent 60%
	    ),
	    radial-gradient(
	      at bottom left,
	      var(--color_1), 
	      transparent 60%
	    );
	color: var(--color_2);
	width: 30rem;
	text-align: center;
	font-weight: 600;
	border-radius: 10px;
	text-decoration: none;
	line-height: 5rem;
	font-size: 2.4rem;
}

/*Header styling*/

#header-wrap {
	display: flex;
	justify-content: space-between;
	line-height: 70px;
	font-size: 2.4rem;
	font-weight: 600;
}

#navbar ul {
	display: flex;
	width: 50rem;
	justify-content: space-evenly;
}

#logo-text {
	padding-left: 70px;
}

.nav-link:hover {
	text-decoration: underline;
}

@media (max-width: 900px) {
	#logo-text {
	    border: 0 !important;
	    clip: rect(1px, 1px, 1px, 1px) !important;
		clip-path: inset(50%) !important;
		height: 1px !important;
		width: 1px !important;
		position: absolute !important;
		overflow: hidden !important;
		white-space: nowrap !important;
		padding: 0 !important;
		margin: -1px !important;
	}

	#navbar ul {
		width: 100vw;
	}
}

/*Main section styling*/

.welcome-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome-wrap {
	display: grid;
	grid-template-columns: 65rem 1fr 35rem;
	grid-template-rows: 3rem 5rem 3rem 15rem 5rem;
	width: 80%;
	grid-gap: 10px;
	position: relative;
	top: -70px;
}

h1 {
	grid-column: 1;
	grid-row: 2;
}

#pronounce {
	color: transparent;
}

h1:hover #pronounce {
	color: gold;
}

#subheader {
	grid-column: 1;
	grid-row: 3;
}

#about {
	grid-column: 1;
	grid-row: 4;
	font-size: 1.6rem;
}

#about span {
	color: gold;
}

#img-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 3;
	grid-row: 2 / 5;
}

#my-image {
	width: 350px;
	border-radius: 50%;
	z-index: 1;
}

.sphere {
	background: 
	    radial-gradient(
	      circle at top left,
	      gray, 
	      transparent 60%
	    ),
	    radial-gradient(
	      circle at top right,
	      lightgray, 
	      transparent 60%
	    ),
	    radial-gradient(
	      at bottom,
	      black, 
	      transparent 60%
	    );
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	position: absolute;
}

.sphere_top {
	top: -2rem;
	right: 2rem;
	width: 7rem;
	height: 7rem;
}

.sphere_bottom {
	top: 28rem;
	right: 28rem;
	z-index: 2;
}

@media (min-width: 1400px) {
	.welcome-wrap {
		width: 70%;
	}
}

@media (max-width: 1200px) {
	.welcome-section {
		height: 820px;
		align-items: flex-start;
	}

	.welcome-wrap {
		display: flex;
		flex-direction: column;
		position: static;
		top: 0;
		justify-content: flex-start;
		margin-top: 5rem;
	}

	h1 {
		width: 100%;
		grid-row: 2;
		text-align: center;
	}

	#subheader {
		grid-row: 3;
		text-align: center;
	}

	#about {
		grid-row: 4;
		text-align: center;
	}

	#img-wrap {
		grid-row: 1;
		grid-column: 1;
	}

	.sphere, #pronounce {
	    border: 0 !important;
	    clip: rect(1px, 1px, 1px, 1px) !important;
		clip-path: inset(50%) !important;
		height: 1px !important;
		width: 1px !important;
		position: absolute !important;
		overflow: hidden !important;
		white-space: nowrap !important;
		padding: 0 !important;
		margin: -1px !important;
	}

}

@media (max-width: 900px) {
	#my-image {
		width: 50vw;
	}
}

/*Projects section styling*/

.projects {
	height: 100vh;
}

.projects-wrap {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.projects-grid {
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.project {
	text-align: center;
}

.project-title {
	font-size: 2rem;
	background-color: var(--text_color);
	line-height: 5rem;
	border-radius: 0 0 1rem 1rem;
	color: var(--color_2);
}

.project-image {
	border-radius: 1rem 1rem 0 0;
}

.see-more-button {
	color: var(--text_color);
}

.project-title span {
	color: transparent;
}
.project-link:hover .project-title span {
	color: var(--color_2);
	transition: 1s;
}

@media (max-width: 1200px) {
	.projects-section {
		height: auto;
	}

	.projects-grid {
		display: flex;
		flex-direction: column;
	}
}

/*Section Contact Styling*/

#contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-wrap {
	position: relative;
	top: 7rem;
}

.contact-wrap h2 {
	margin: 2rem auto;
}

.social-media-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 4rem auto;
	gap: 2rem;
}

.social-media {
	display: flex;
	font-size: 2.4rem;
}

.fa-brands, .fa-solid {
	position: relative;
	top: 5px;
	margin-right: 5px;
}

@media (max-width: 900px) {
	.contact-wrap {
		width: 80%;
	}
}

/*Footer Styling*/

.footer {
	width: 100%;
	height: 10rem;
	font-size: 1.6rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	font-family: Verdana, sans-serif;
}

.footer a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	.footer p {
		display: inline-block;
		width: 80%;
	}
}


